:root {
  --primary: #002651;
  --secondary: #ffc400;
}

* {
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
  font-size: 80px;
  color: var(--primary);
  font-weight: 200;
}

.input-todo {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--secondary);
  border-radius: 0;
}

.input-todo:focus {
  box-shadow: none;
}